@use '../abstracts/variables/grid' as *;
@use '../abstracts/mixins/media' as *;

.container {
  position: relative;
  max-width: $max-width-lg;
  margin-inline: auto;
  padding-inline: $container-padding-sm;

  @include respond-to('md') {
    padding-inline: $container-padding-md;
  }

  @include respond-to('lg') {
    padding-inline: $container-padding-lg;
  }
}
