.form {
  font-size: 16px;
  line-height: 1.5;

  &__input {
    width: 100%;
    min-height: 24px;
    border: none;
    border-bottom: 1px solid var(--color-headers);

    color: var(--color-text-title);

    background-color: var(--color-bg-main);

    &:focus {
      border-bottom-color: var(--color-primary);
      outline: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0 1000px var(--color-bg-main) inset !important;
      box-shadow: 0 0 0 1000px var(--color-bg-main) inset !important;

      /* Chrome autofill background fix */
      transition: background-color 5000s ease-in-out 0s;

      -webkit-text-fill-color: var(--color-text-body) !important;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    &:-moz-autofill,
    &:-moz-autofill:hover,
    &:-moz-autofill:focus {
      box-shadow: 0 0 0 1000px var(--color-bg-main) inset !important;

      -moz-text-fill-color: var(--color-text-body) !important;
    }
  }
}
