$clr-terracotta: #cd4d31;
$clr-alabaster: #f1f5f4;
$clr-patina: #3f5252;
$clr-onyx: #1c1b29;
$clr-graphite: #504f5e;

:root {
  --color-primary: #{$clr-terracotta};
  --color-secondary: #{$clr-graphite};
  --color-on-accent: #{$clr-alabaster};
  --color-headers: #{$clr-onyx};
  --color-bg-main: #{$clr-alabaster};
  --color-bg-accent: #{$clr-patina};
  --color-bg-on-accent: #{rgba($clr-onyx, 0.3)};
  --color-text-title: #{$clr-onyx};
  --color-text-body: #{$clr-graphite};
  --color-text-light: #{$clr-alabaster};
  --bg-color-hover-btn-primary: #af3419;
  --bg-color-hover-btn-secondary: #{$clr-terracotta};
  --color-hover-btn-secondary: #{$clr-alabaster};
  --color-hover-footer: #{$clr-alabaster};
}
