$max-width-sm: 320px;
$max-width-md: 768px;
$max-width-lg: 1280px;
$grid-gutter-sm: 20px;
$grid-gutter-md: 30px;
$grid-gutter-lg: 30px;
$container-padding-sm: 20px;
$container-padding-md: 39px;
$container-padding-lg: 55px;
