@use '../abstracts' as *;

.news {
  --padding-block: 90px 0;
  --margin-block-title: 0 60px;
  --margin-block-list: 0 15px;
  --margin-block-button: 15px 0;
  --display-list: flex;
  --flex-direction: column;
  --gap: 50px;
  --grid-column-title: 1/3;
  --grid-column-list: 1/3;
  --grid-column-card: 1/3;
  --grid-template-rows: 3;
  --grid-colum-button: 1/3;
  --grid-row-button: -1;

  padding-block: var(--padding-block);
  color: var(--color-text-title);

  &__content {
    grid-template-rows: repeat(var(--grid-template-rows), auto);
  }

  &__title {
    grid-column: var(--grid-column-title);
    margin-block: var(--margin-block-title);
  }

  &__list {
    display: var(--display-list);
    grid-column: var(--grid-column-list);
    flex-direction: var(--flex-direction);
    gap: var(--gap);

    margin-block: var(--margin-block-list);
  }

  &__card {
    display: flex;
    grid-column: var(--grid-column-card);
    flex-direction: column;
  }

  &__button {
    grid-column: var(--grid-colum-button);
    grid-row: var(--grid-row-button);
    margin-block: var(--margin-block-button);
  }

  @include respond-to('md') {
    --padding-block: 120px 0;
    --display-list: grid;
    --gap: 30px;
    --grid-column-list: 1/7;
    --grid-column-card: span 3;
    --margin-block-button: 0px;
    --grid-row-button: 1;
    --grid-colum-button: 5/7;
  }

  @include respond-to('lg') {
    --padding-block: 110px 0;
    --gap: 32px;
    --grid-column-list: 1/13;
    --grid-column-card: span 6;
    --margin-block-button: 0;
    --grid-row-button: 1;
    --grid-colum-button: 10/13;
  }
}
