@use '../abstracts' as *;

body {
  @include respond-typography('main');

  color: var(--color-text-body);
}

h1 {
  @include respond-typography('h1');

  color: var(--color-on-accent);
}

h2 {
  @include respond-typography('h2');

  color: var(--color-text-title);
}

h3 {
  @include respond-typography('h3');
}

h4 {
  @include respond-typography('h4');
}

h5 {
  @include respond-typography('h5');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  @include respond-typography('button');
}

%h6 {
  @include respond-typography('h6');
}
